<div class="container">
  <h1>Review this provider</h1>
  <h2><%= @provider.name %></h2>

  <%= form_tag create_review_path, method: "post", class: 'form-normal'  do %>
    <input type="hidden" name="provider_id" value="<%= @provider.id %>" >
    <label for="timely">Was this service delivered in a timely manner?</label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="timely" id="timely-yes" autocomplete="off" value="1" checked> Yes
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="timely" id="timely-no" autocomplete="off" value="2" > No
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="timely" id="timely-maybe" autocomplete="off" value="3" > Maybe
      </label>
    </div>
    <div id="name_message"></div><br>

    <label for="safe">Was the service delivered in a safe and friendly manner?</label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="safe" id="safe-yes" autocomplete="off" value="1"  checked> Yes
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="safe" id="safe-no" autocomplete="off" value="2" > No
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="safe" id="safe-maybe" autocomplete="off" value="3" > Maybe
      </label>
    </div>
    <div id="name_message"></div><br>

    <label for="clear_communication">Do you feel the provider communicated with you effectively?</label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="clear_communication" id="clear_communication-yes" autocomplete="off" value="1"  checked> Yes
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="clear_communication" id="clear_communication-no" autocomplete="off" value="2" > No
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="clear_communication" id="clear_communication-maybe" autocomplete="off" value="3" > Maybe
      </label>
    </div>
    <div id="name_message"></div><br>

    <label for="value">Was the service good value for money?</label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="value" id="value-yes" autocomplete="off"  value="1" checked> Yes
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="value" id="value-no" autocomplete="off" value="2" > No
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="value" id="value-maybe" autocomplete="off" value="3" > Maybe
      </label>
    </div>
    <div id="name_message"></div><br>

    <label for="recommend">Would you recommend this service to others?</label>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="recommend" id="recommend-yes" autocomplete="off"  value="1" checked> Yes
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="recommend" id="recommend-no" autocomplete="off" value="2" > No
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="recommend" id="recommend-maybe" autocomplete="off" value="3" > Maybe
      </label>
    </div>
    <div id="name_message"></div><br>

    <%= submit_tag "Submit", :class => 'btn btn-lg btn-primary btn-block' %>


    <% #link_to "Cancel", show_provider_path(provider[:id]) %>
  <% end %>
</div>