<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Result', show_result_path %></li>
  </ol>
</nav>