.header {
  background-color: #3E0F48;
}

.header a, .header p, .header .nav-link {
  color: white;
  text-decoration: none;
}

body {
  background: red;
}

.footer {
  text-align: center;
  background-color: #3E0F48!important;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a, .footer p {
  text-decoration: none;
  color: white;
  font-size: .75rem;
  padding-top: 5px;
}

.no_results {
  min-height: 300px;
  text-align: center;

}

.results {
  max-width: 80%;
  margin:50px auto;
}

.results_page {
  max-width: 80%;
  margin:0 auto;
}