<div class="container">
  <div class="card-body results">
  <h5 class="card-title">About Us</h5>
  <hr>
  <p>
    The Karista team share deep knowledge and passion for the healthcare industry and are committed to providing valuable and relevant information and connections that improve consumer and carer experiences.</p>

  <p>Our objective is to create a place where people can share experiences, where other people in similar situations can read, review and compare to find the right support for them.</p>

  <p> We have over 100 years of combined experience in healthcare and qualifications in nursing, economics, management and marketing.</p>

  <hr>

</div>

</div>